<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Chhimeki Aunty</title>
    </head>
    <body>
        <div class="result">
            <p>
                the sentiments list {{input['sentiments']}} <br>
                the contexts list {{input['contexts']}}
                the average sentiment {{input['avg']}}
            </p>
        </div>
</html>